@import '../../assets/styles/layout';
:root {
  /* variables for classic theme */
  --sidebar-width: 280px;
  --sidebar-bg-color: #121212;
  --toolbar-min-height: 64px;
  --toobar-bg-color: #f5f5f5;
  --toolbar-color: rgba(0, 0, 0, 0.87);
  --content-bg-color: #e8e8e8;
}


